In [1]:
%matplotlib widget

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import scipy.special as sp

In [3]:
pd.set_option('display.max_colwidth', None)
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

In [12]:
def factorial(x):
    return sp.factorial(x, exact=True)

def multiplicity(N, q):
    return factorial(q+N-1)//factorial(q)//factorial(N-1)

def logArray(array):
    import math
    return [math.log(x) for x in array]

## two einstein solids

### 3 particles each and 6 energy units

In [24]:
table0 = pd.DataFrame()
table0['q_A'] = range(0,6+1, 1)
table0['q_B'] = range(6, 0-1, -1)
table0['mult_A'] = [multiplicity(3, i) for i in table0['q_A']]
table0['mult_B'] = [multiplicity(3, i) for i in table0['q_B']]
table0['mult_total'] = table0['mult_A']*table0['mult_B']

In [25]:
table0

   q_A  q_B  mult_A  mult_B  mult_total
0    0    6       1      28          28
1    1    5       3      21          63
2    2    4       6      15          90
3    3    3      10      10         100
4    4    2      15       6          90
5    5    1      21       3          63
6    6    0      28       1          28